/* ----- Custom Style Variables ----- */

// Fonts
$ubuntuBold: 'ubuntu-bold';
$ubuntuMedium: 'ubuntu-medium';
$ubuntuRegular: 'ubuntu-regular';
$ubuntuLight: 'ubuntu-light';

// Colors
$primaryColor: #0063d9;
$secondaryColor: #63cf8d;
$whiteColor: #ffffff;
$blackColor: #111111;
$headerColor: #39393f;
$textColor: #909094;
$bgColor: #f9fafc;
$footerBgColor: #07112d;
$borderColor: #6669da;
$placeholderColor: #d9d9d9;

// Font Weights
$lowWeight: 300;
$mediumWeight: 500;
$highWeight: 600;
$maxWeight: 700;

// Z Index Values
$zIndexLow: 1050;
$zIndexMedium: 2050;
$zIndexHigh: 3050;
